body{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    background-color: rgb(12, 153, 118);
}

.header{
text-align: center;
font-size: larger;
padding: 15px 25px;
color: cornsilk;
}


.form-group{
display: grid;
margin: 15px 25px;
padding: 10px;
width:70%;
max-width: 400px;
color: cornsilk;
justify-content: center;


}

.input{
  border-radius: 15px;
  box-shadow: none; 
  width:50px;
  padding: 2px 4px;
  margin:5px 10px;


}

.button{
    display:inline-block;
    position: relative;
    margin-left:40%;
	background-color:rgb(60, 134, 100);
	padding: 8px 16px 8px 16px;
	border-radius: 10px;
	border: none;
	font-size: 15px;
    color: whitesmoke;
    position: relative;
 }


.footer{
text-align: center;
color:  rgb(195, 221, 46);
margin: 20px 10px 20px 10px;
}

.moreinfo{
color:whitesmoke;
font-size: medium;
padding: 5px 15px;
border-radius: 10px;
border: 1px solid rgb(195, 221, 46);
margin: 5px 10px 15px 10px;
}

.BMIcategories{
color:whitesmoke solid;
font-weight: bold;
}


@media screen and (min-width:768px){

/*grid testing*/

    .card-body{
        display: grid;
        grid-template-columns: repeat (auto-fit minmax (900px,3 fr));
        grid-column: 3;
        grid-row:3;
    }

        .input{
        display:grid;
         grid-template-columns: repeat (auto-fit minmax (900px,3 fr));
         
        }
        
        .button{
        margin-left:10%;
        }
        
        
    }

@media screen and (min-width:1024px){

    /*grid testing*/
    
    .card-body{
        display:grid;
        grid-template-columns: repeat (3, 1fr);
        grid-row:3;
       
    }
   
    .button{
    margin-left:50%;
    }

    
   
