body{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    background-color: rgb(12, 153, 118);
}

.container{
    width: 80%;
    margin: auto;
}

.header{
    text-align: center;
    font-size: larger;
    padding: 15px 25px;
    color: cornsilk;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 40px;
    justify-items: center;
}

.full{
    grid-column:span 2;
}

.form-group{
    padding: 10px;
    color: cornsilk;
    
}

.input{
    border-radius: 15px;
    box-shadow: none; 
    width:50px;
    padding: 2px 4px;
    margin:5px 10px;
    
    
}

.button{
    background-color:rgb(60, 134, 100);
    padding: 4px 8px 4px 8px;
    border-radius: 10px;
    border: none;
    color: whitesmoke;
    width:20%;
    
}


.footer{
    text-align: center;
    color:  rgb(195, 221, 46);
    margin: 20px 10px 20px 10px;
}

.moreinfo{
    color:whitesmoke;
    font-size: medium;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid rgb(195, 221, 46);
    margin-bottom:40px;
}

.BMIcategories{
    color:whitesmoke solid;
    font-weight: bold;
}


/*implementing portrait for mobile*/
@media screen and (max-width:767px) and (orientation: portrait) {
    .header{
        margin-top: 30px;
    }
    
    .container{
        width: 80%;
    }
    
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .full{
        grid-column: 1;
    }
    
    .footer{
        font-size: small;
    }
    
    
}

/*implementing media screen for tablet*/
@media screen and (min-width:768px) {
 
    .header{
       margin:40px;  
    }
    
    .container{
        text-align: center;
        width:70%
    }
    
    .footer, .moreinfo, .full, .form-group, .header, .input{
        font-size:x-large;
    }
    
    .card{
        grid-gap:70px;
    }

    .moreinfo{
        margin-top:75px;
    }
    
    .input{
        width:80px;
    }
}

/*implementing media screen for laptop*/
@media screen and (min-width:1024px){
    
    .header{
        margin-top: 30px;
        font-size:35px;
    }
    
    .
}

